__pycache__/
*.py[cod]
*.pyd
*.pyo
.DS_Store

data/*
!data/.gitkeep

logs/*
!logs/.gitkeep

wandb/*
!wandb/.gitkeep

trm_agent/ckpt/*
!trm_agent/ckpt/.gitkeep

trm_agent/emb/*
!trm_agent/emb/.gitkeep

trm_agent/processed/*
!trm_agent/processed/.gitkeep
